<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctproject.tokohislamhologram">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- SplashActivity -->
        <activity
            android:name="com.ctproject.tokohislamhologram.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />"
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity -->
        <activity
            android:name="com.ctproject.tokohislamhologram.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name" >
        </activity>
        <!-- ChildActivity -->
        <activity
            android:name="com.ctproject.tokohislamhologram.DosenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.MenuActivity"
                >
            </meta-data>
        </activity>
        <activity
            android:name="com.ctproject.tokohislamhologram.DosenDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_profil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.DosenActivity"
                >
            </meta-data>
        </activity>
        <activity
            android:name="com.ctproject.tokohislamhologram.DosenDetailHologramActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_detail_hologram">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.DosenDetailActivity"
                >
            </meta-data>
        </activity>

        <activity
            android:name="com.ctproject.tokohislamhologram.InformasiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_informasi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.DosenActivity"
                >
            </meta-data>
        </activity>
        <activity
            android:name="com.ctproject.tokohislamhologram.BantuanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_bantuan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.InformasiActivity"
                >
            </meta-data>
        </activity>
        <activity
            android:name="com.ctproject.tokohislamhologram.BantuanDosenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_bantuan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.DosenActivity"
                >
            </meta-data>
        </activity>
        <activity
            android:name="com.ctproject.tokohislamhologram.TentangAplikasiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_taplikasi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.InformasiActivity"
                >
            </meta-data>
        </activity>
        <activity
            android:name="com.ctproject.tokohislamhologram.TentangKamiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_tkami">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.InformasiActivity"
                >
            </meta-data>
        </activity>
        <activity
            android:name="com.ctproject.tokohislamhologram.HakCiptaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name_hakcipta">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctproject.tokohislamhologram.InformasiActivity"
                >
            </meta-data>
        </activity>

        <activity
            android:name="com.ctproject.tokohislamhologram.TutorPertamaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
